*.py[co]
*.sw[po]
*.bak
*.orig
*~
*.log
*.egg-info
*.py.disabled
.project
.pydevproject
.idea
venv/
virtenv/
dist/
build/
data/
wsgi/documentation/gen/
wsgi/static
#wsgi/documentation/templates/
__pycache__/
