{% extends "base.html" %}

{% block header %}{% endblock %}


{% block content %}
<div class="col-xs-12 col-sm-6 col-md-7">
    <div class="home" id="header">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-9 logo">
                Railway Timetable.
            </div>
            <div class="col-xs-12 col-sm-5 col-md-3 edit">
                <a class="btn btn-info" href="/edit/hello">
                    <span class="glyphicon glyphicon-pencil"></span>
                    &nbsp;Edit
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        {% block home_content %}{% endblock %}
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-5">
    <div class="row">
        {% block feed %}{% endblock %}
    </div>
</div>



{% endblock %}
